:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171717;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
}

$primary-color: #18181b;
$secondary-color: red;
// $secondary-color: #00ff00;
// $tertiary-color: #0000ff;
// :root {
//   --primary-color: #18181b;
//   --secondary-color: #27272a;
//   --tertiary-color: #71717a;
// }
// $primary-color: #18181b;
// $secondary-color: #27272a;
// $tertiary-color: #a1a1aa;
// $quaternary-color: #09090b;
// body {
//   height: 100vh;
//   overflow-y: auto;
//   background-color: $primary-color;
//   color: white;
// }
