div:nth-child(1) {
  // padding-top: 0.5rem;
  padding-left: 1.5rem;
  > section.CategoryButtons {
    display: flex;
    overflow: hidden;
    > button:nth-child(1) {
      background-color: #606060;
      color: white;
      border: #eee;
    }
    > button {
      margin-right: 1rem;
      word-wrap: none;
      white-space: nowrap;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #999;
      padding: 0.5rem 1rem;
      font-size: inherit;
      cursor: pointer;
      transition: background-color 150ms;
      &:hover {
        background-color: #ddd;
      }
    }
    > button:last-child {
      margin: 0;
    }
  }
}
div:nth-child(2) {
  // display: grid;
  > section.VideoListingPage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 2rem 0;
    margin: 0 1.5rem;
    border-top: 4px solid #ccc;
    // min-width: 250px;
    // min-height: 150px;
    &:first-child {
      border-top: none;
    }
  }
}
