:root {
  //   $primary-background: #0f0f0f;
  //   $primary-color: #18181b;
  //   $secondary-color: red;
  --primary-background: #0f0f0f;
  --primary-color: #18181b;
  --secondary-color: red;
}

// $primary-background: #0f0f0f;
