@import "../../index.scss";
.Sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  background-color: #282828;
  height: 100vh;
  position: fixed;
  transition: transform 0.3s ease;
  > header.firstDiv {
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: auto;
    > button {
      height: auto;
      background-color: transparent;
      border: none;
      border-radius: 999px;
      padding: 5px 8px;
      // padding-top: 5px;
      align-items: center;
      > img {
        height: 30px;
      }
      &:hover {
        background-color: #27272a;
      }
    }
    > span {
      display: flex;
      align-items: center;
      padding-bottom: 5px;
      > img {
        height: 25px;
        width: 35px;
      }
      > h1 {
        font-size: 1.7rem;
        font-weight: 500;
        margin-left: -0.2rem;
        padding-bottom: 3px;
        > sup {
          padding-top: 3px;
          display: inline-block;
          position: absolute;
          font-size: 0.6rem;
          font-weight: 400;
          margin-left: 0.2rem;
        }
      }
    }
  }
  > div {
    margin-top: 0.5rem;
    overflow-y: hidden;
    background-color: transparent;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-button:start {
      display: block;
      height: 4px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #888;
    }
    &::-webkit-scrollbar-button:end {
      display: block;
      height: 4px;
      background-color: transparent;
      // color: white;
    }
    &:hover {
      overflow-y: auto;
    }

    > main.SideBarMain {
      background-color: green;
      height: auto;
      > div {
        display: flex;
        width: 232px;
        // height: 100%;
        background-color: red;
        justify-content: center;
        > button {
          // position: relative;

          background-color: transparent;
          margin: 0.2rem 0.75rem;
          padding: 5px;
          display: flex;
          justify-content: flex-start;
          border: none;
          border-radius: 15px;
          // height: 40px;
          width: 100%;
          &:hover {
            background-color: #888;
          }
          > div:nth-child(1) {
            width: 20%;
            height: auto;
            display: flex;
            margin-right: 0.5rem;
            img {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 32px;
            }
          }
          > div:nth-child(2) {
            height: 100%;
            width: 80%;
            display: flex;
            margin-left: 0.5rem;
            // background-color: aqua;
            span {
              display: flex;
              justify-content: center;
              align-items: center;
              // padding-left: 15px;
            }
          }
        }
      }
    }
    > footer.SideBarFooter {
      display: flex;
      // background-color: blue;
      flex-direction: column;
      height: auto;

      > div {
        height: auto;
        width: 232px;

        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.75rem;
        margin-top: 0.75rem;
        a {
          padding: 5px;
        }
      }
    }
  }

  // > div::-webkit-scrollbar {
  //   width: 8px; /* width of the scrollbar */
  // }
  // > div::-webkit-scrollbar-thumb {
  //   background-color: #888; /* Color of the scrollbar handle */
  // }
}
