@import "../../index.scss";

.Navbar {
  display: flex;
  // flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  margin-top: 0.75rem;
  width: 100%;
  // background-color: $primary-color;

  /* ------------------------------------- */
  // display: grid;
  // // grid-template-rows: 1fr;
  // grid-template-columns: repeat(12, 1fr);
  // height: 20px;
  // margin-top: 0.75rem;

  > header.firstDiv {
    display: flex;
    // grid-column: span 3;
    // grid-column: span 3 / span 3;
    align-items: center;
    height: auto;
    width: 25%;
    // margin-top: auto;
    > button {
      height: auto;
      background-color: transparent;
      border: none;
      border-radius: 999px;
      padding: 5px 8px;
      // padding-top: 5px;
      align-items: center;
      > img {
        height: 30px;
      }
      &:hover {
        background-color: #27272a;
      }
    }
    > span {
      display: flex;
      align-items: center;
      padding-bottom: 5px;
      > img {
        height: 25px;
        width: 35px;
      }
      > h1 {
        font-size: 1.7rem;
        font-weight: 500;
        margin-left: -0.2rem;
        padding-bottom: 3px;
        > sup {
          padding-top: 3px;
          display: inline-block;
          position: absolute;
          font-size: 0.6rem;
          font-weight: 400;
          margin-left: 0.2rem;
        }
      }
    }
  }
  > div.searchElements {
    display: flex;
    align-items: center;
    // grid-column: span 6 / span 6;
    height: auto;
    width: 40%;
    > form {
      width: 100%;
    }
    > div.se1 > button {
      border: none;
      display: flex;
      // width: 40px;
      height: auto;
      background-color: #27272a;
      border-radius: 9999px;
      margin-left: 1rem;
      > img {
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 32px;
      }
    }

    // div:last-child {
    //   button {
    //     background-color: red;
    //   }
    // }
  }
  > div.lastDiv {
    display: flex;
    width: 25%;
    // grid-column: span 3;

    // grid-column: span 3 / span 3;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.5rem;
    > div > button {
      display: flex;
      height: 40px;
      background-color: transparent;
      border: none;
      border-radius: 9999px;
      margin-right: 0.75rem;
      // width: 40px;
      padding: 8px;
      // color-scheme: light;

      > img {
        justify-content: center;
        height: 25px;
      }

      &:hover {
        background-color: #27272a;
      }
    }
  }
}
